.profile__info_profession {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 619px) {
  .profile__info_profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
